body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#my-div {
  width: 6em;
  height: 6em;
  background-color: #34a0fb;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.1s ease-out;
}
